
 <%- include("partials/header")%>

    <section>
      <div class="img-section">
        <div>
          <div class="text-container">
          <h1 class="fade-in fadein-up">ABOUT US</h1>
          <p class="fade-in fadein-up-text">With 5 years of experience in capturing celebrations across the globe, 
            our team is here to make sure
          </p>
        </div>
        </div>
        
        <img src="public/images/3.jpg" alt="">
      </div>
    </section>

    <section id="section-plain">
      <div class="about-us text-container">
        <div class="images-side">
          <div class="about-us-top">
            <div class="about-us-1 fade-in fadein-up">
               <img src="public/images/about-us/abtus 1.jpg" alt="">
           </div>
           <div class="about-us-2 fade-in fadein-up-text">
            <img src="public/images/about-us/abtus 2.jpg" alt="">
          </div>
          </div>
          
          <div class="about-us-3 fade-in fadein-LTR">
            <img src="public/images/about-us/abtus 4.jpg" alt="">
          </div>
               
        </div>
        <div class="about-us-side fade-in fadein-up-text">
          <p>
            Hello there! Let us tell you why we have the most magical and fulfilling job 
            in the world. We are in love with love. We are mesmerized by elegant brides,
             soft lighting, natural settings and bubbly personalities of the bride and 
             groom. We are the artisans who capture the heartbeat of your wedding day and 
             transform it into visual timestamps.
            </p>
            <p>
            Beyond Destiny family is a team of passionate photographers who had the 
            lucky chance in life to turn our passion into a career. We love cracking 
            jokes and don’t take life too seriously (unless we have to!) We are down to
             earth and easy to deal with. Hearing your stories and vision about your 
             special day is important to us and there is no such thing as too many
              details. Capturing the perfect poise or smile can only be done by having a 
              professional photographer, therefore we ensure all our staff are properly 
              trained and dispatched to photographic assignments fully equipped with the 
              latest cameras, thereby ensuring we capture and immortalize your precious 
              memories on photographs by using young, idiosyncratic and professional wedding photographers, bonded by talent, driven by passion to carry you Beyond your Destiny. We are creative, eager and curious. We are different (humble, too!) High standards and strive for excellence in everything we do brought us to where we are today. Nice to finally meet you!
          </p>
          <p>
            Hello there! Let us tell you why we have the most magical and fulfilling job 
            in the world. We are in love with love. We are mesmerized by elegant brides,
             soft lighting, natural settings and bubbly personalities of the bride and 
             groom. We are the artisans who capture the heartbeat of your wedding day and 
             transform it into visual timestamps.
            </p>
        </div>
      </div>
    </section>

    <%- include("partials/footer") -%>
 