<%- include("partials/header");%>

  </section>
  <section data-scroll-section>
    <div id="landingCarousel" class="carousel slide carousel-fade" data-bs-pause="false" data-bs-interval="10000"
      data-bs-ride="carousel">
      <div class="carousel-inner landingCarousel">
        <div class="carousel-item active">
          <img src="images/3.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="public/images/2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="public/images/1.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#landingCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#landingCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <!-- SECTION 2 - SERVICES
  <section id="section-plain" data-scroll-section>
    <diV class="text-container">
      <h1 class="fade-in fadein-up">OUR SERVICES</h1>
      <p class="fade-in fadein-up-text">
        With 5 years of experience in capturing celebrations across the
        globe, our team is here to make sure you have the best day of your
        life filled with photos & videos to reflect that.
      </p>
    </div>

    <div class="fade-in fadein-up">
      <div class="row">
        <div class="col-lg-4 feature">
          <i class="fas fa-check-circle fa-4x feature-icon"></i>
          <h3 class="feature-title">WEDDINGS</h3>
          <p>
            Every love story is different and deserves to be told in its
            unique way. We look forward to making your special day a unique
            one.
          </p>
        </div>
        <div class="col-lg-4 feature">
          <i class="fas fa-bullseye fa-4x feature-icon"></i>
          <h3 class="feature-title">ENGAGEMENTS</h3>
          <p>
            Your engagement is a wonderful time in both of your lives, and a
            photo shoot is a great way to commemorate that.
          </p>
        </div>
        <div class="col-lg-4 feature">
          <i class="fas fa-heart fa-4x feature-icon"></i>
          <h3 class="feature-title">CASUAL SHOOTS</h3>
          <p>
            Casual shoots are a great way to remove that doubt and fear of
            being in front of a camera on your wedding day.
          </p>
        </div>
      </div>
    </div>
  </section> -->

  <section id="section-plain">

    <diV class="text-container">
      <h1 class="fade-in fadein-up">OUR SERVICES</h1>
      <p class="fade-in fadein-up-text">
        With 5 years of experience in capturing celebrations across the
        globe, our team is here to make sure you have the best day of your
        life filled with photos & videos to reflect that.
      </p>
    </div>
    <div class="services fade-in fadein-up">
      <div class="service-card">
        <div class="service-cover" style="background-image: url('public/images/services/s1.jpg')">
          <div class="service-cover-text">WEDDINGS</div>
        </div>
        <div class="service-card-overlay">
          <i class="fas fa-heart fa-4x service-icon"></i>
          <h3>WEDDINGS</h3>
          <p>
            Your engagement is a wonderful time in both of your lives, and a
            photo shoot is a great way to commemorate that.
          </p>
        </div>
      </div>

      <div class="service-card">
        <div class="service-cover" style="background-image: url('public/images/services/s2.jpg')">
          <div class="service-cover-text">ENGAGEMENTS</div>
        </div>
        <div class="service-card-overlay">
          <i class="fas fa-heart fa-4x service-icon"></i>
          <h3>ENGAGEMENTS</h3>
          <p>
            Your engagement is a wonderful time in both of your lives, and a
            photo shoot is a great way to commemorate that.
          </p>
        </div>
      </div>

      <div class="service-card">
        <div class="service-cover" style="background-image: url('public/images/album-carousel/a2.jpg')">
          <div class="service-cover-text">CASUAL SHOOTS</div>
        </div>
        <div class="service-card-overlay">
          <i class="fas fa-heart fa-4x service-icon"></i>
          <h3>CASUAL SHOOTS</h3>
          <p>
            Your engagement is a wonderful time in both of your lives, and a
            photo shoot is a great way to commemorate that.
          </p>
        </div>
      </div>
    </div>

    <a href="/services">
      <button class=" more-btn more-btn-overlay"> Read more </button>
    </a>

  </section>

  <!-- <hr class="hr-line"> -->

  <!-- SECTION 3 -WEDDING ENCHANT- -->
  <section id="section-plain" class="bg">
       <div class="row">
      <div class="img4-container col-lg-4 fade-in fadein-LTR">
        <img src="public/images/4.jpg" alt="" />
      </div>
      <div class="text-container col-lg-8">
        <h1 class="fade-in fadein-up">THE WEDDING ENCHANT</h1>
        <p class="fade-in fadein-up-text">
          Throughout the years we have had the opportunity to photograph
          many wonderful couples.<br><br>DESTINY HAS GOT YOU TOGETHER, ALLOW US TO
          TAKE YOU BEYOND<br><br>We at Beyond Destiny look forward to making your special day a
          unique one. We guarantee you a stress free, laid back and fun
          experience with a great crew. Capturing the perfect poise or
          smile can only be done by having a smile…
          unique one. We guarantee you a stress free, laid back and fun
          experience with a great crew. Capturing the perfect poise or
          smile can only be done by having a smile…We guarantee you a stress free, laid back and fun
          experience with a great crew. Capturing the perfect poise or
          smile can only be done by having a smile…
          unique one. We guarantee you a stress free, laid back and fun
          experience with a great crew. Capturing the perfect poise or
          smile can only be done by having a smile…

        </p>
        <a href="/about-us">
          <button class=" more-btn more-btn-overlay"> Read more </button>
        </a>
      </div>
    </div>
  </section>

  <!-- <hr class="hr-line"> -->

  <!-- SECTION - 4 FEATURED ALBUMS-->
  <section id="section-plain">
    <div class="album-section">
      <div class="text-container">
        <h1 class="fade-in fadein-up">FEATURED ALBUMS</h1>
        <P class="fade-in fadein-up-text">Throughout the years we have had the opportunity to photograph many wonderful
          couples.</P>
      </div>
      <div class="album-carousel fade-in fadein-up">

        <div class="featured-albums">

          <a href="/ravindu&ravindu">
            <div class="feature-album-name">
              Ravindu & Ravindu
              Engagement
            </div>
            <div class="featured-album-item" style="background-image: url('public/images/album-carousel/a1.jpg')">
            </div>
          </a>
        </div>

        <div class="featured-albums">
          <a href="/ravindu&ravindu">
            <div class="feature-album-name">
              Ravindu & Ravindu
              Engagement
            </div>
          <div class="featured-album-item" style="background-image: url('public/images/album-carousel/a2.jpg')">
          </div>
        </a>
        </div>
        <div class="featured-albums">
          <a href="/ravindu&ravindu">
            <div class="feature-album-name">
              Ravindu & Ravindu
              Engagement
            </div>
          <div class="featured-album-item" style="background-image: url('public/images/album-carousel/a3.jpg')">
          </div>
        </a>
        </div>
        <div class="featured-albums">
          <a href="/ravindu&ravindu">
            <div class="feature-album-name">
              Ravindu & Ravindu
              Engagement
            </div>
          <div class="featured-album-item" style="background-image: url('public/images/album-carousel/a4.jpg')">
          </div>
        </a>
        </div>
        <div class="featured-albums">
          <a href="/ravindu&ravindu">
            <div class="feature-album-name">
              <p>Ravindu & Ravindu</p>
              <p>Engagement</p>
            </div>
          <div class="featured-album-item" style="background-image: url('public/images/album-carousel/a5.jpg')">
          </div>
        </a>
        </div>
        <div class="featured-albums">
          <a href="/ravindu&ravindu">
            <div class="feature-album-name">
              <p>Ravindu & Ravindu</p>
              <p>Engagement</p>
            </div>
          <div class="featured-album-item" style="background-image: url('public/images/album-carousel/a6.jpg')">
          </div>
        </a>
        </div>


      </div>
    </div>
  </section>

  <hr class="hr-line">

  <section id="section-plain">
    <div class="testimonial-section">
      <div class="text-container">
        <h1 class="fade-in fadein-up">DISCOVER WHAT OTHERS HAVE EXPERIENCED</h1>
        <p class="fade-in fadein-up-text">You deserve the absolute best.That’s why we want to make sure we are the right
          choice for you.</p>
      </div>

      <div class="testimonial-carousel">
        <div class="testimonial">
          <div class="testimonial-img" style="background-image: url('public/images/testimonials/t2.jpg')">
            <div class="testimonial-text">
              <p>
                I just want to say Thank you so much from the fullness of our hearts!
                The Wedding Enchant did an amazing job! We are so happy that everything
                worked out perfectly and the photos are proof. You were right on top of
                everything including everything happening around us.
              </p>
              <b> Ravindu & Ravindu <br></b> 10.06.2021
            </div>
          </div>

        </div>
        <div class="testimonial">
          <div class="testimonial-img" style="background-image: url('public/images/testimonials/t1.jpg')">
            <div class="testimonial-text">
              <p>
                I just want to say Thank you so much from the fullness of our hearts!
                The Wedding Enchant did an amazing job! We are so happy that everything
                worked out perfectly and the photos are proof. You were right on top of
                everything including everything happening around us.
              </p>
              <b> Ravindu & Ravindu <br></b>10.06.2021
            </div>
          </div>

        </div>
        <div class="testimonial">
          <div class="testimonial-img" style="background-image: url('public/images/testimonials/t2.jpg')">
            <div class="testimonial-text">
              <p>
                I just want to say Thank you so much from the fullness of our hearts!
                The Wedding Enchant did an amazing job! We are so happy that everything
                worked out perfectly and the photos are proof. You were right on top of
                everything including everything happening around us.
              </p>
              <b> Ravindu & Ravindu <br></b> 10.06.2021
            </div>
          </div>

        </div>
        <div class="testimonial">
          <div class="testimonial-img" style="background-image: url('public/images/testimonials/t1.jpg')">
            <div class="testimonial-text">
              <p>
                I just want to say Thank you so much from the fullness of our hearts!
                The Wedding Enchant did an amazing job! We are so happy that everything
                worked out perfectly and the photos are proof. You were right on top of
                everything including everything happening around us.
              </p>
              <b> Ravindu & Ravindu <br></b> 10.06.2021
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

  <%- include("partials/footer") -%>