<%- include("partials/header");%>


    <section data-scroll-section>
      <div class="img-section">
        <div>
          <div class="text-container">
            <h1 class="fade-in fadein-up">PORTFOLIO</h1>
            <p class="fade-in fadein-up-text">
              Throughout the years we have had the opportunity to photograph
              many wonderful couples.
            </p>
          </div>
        </div>

        <img src="public/images/3.jpg" alt="" />
      </div>
    </section>

    <section id="section-plain">
      <div class="albums-section">
        <div class="row">
          <div class="col-lg-4 album">
            <a href="/ravindu&ravindu">
              <div class="album-name">
                  <h4>Ravindu & Ravindu</h4>
                  <p>Engagement</p>
              </div>
              <div
                class="album-thumbnail"
                style="background-image: url('public/images/1.jpg')"
              ></div>
            </a>
          </div>

          <div class="col-lg-4 album">
            <a href="index.html">
              <div class="album-name">
                  <h4>Ravindu & Ravindu</h4>
                  <p>Engagement</p>
              </div>
              <div
                class="album-thumbnail"
                style="background-image: url('public/images/2.jpg')"
              ></div>
            </a>
          </div>
          <div class="col-lg-4 album">
            <a href="index.html">
              <div class="album-name">
                  <h4>Ravindu & Ravindu</h4>
                  <p>Engagement</p>
              </div>
              <div
                class="album-thumbnail"
                style="background-image: url('public/images/3.jpg')"
              ></div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 album">
            <a href="index.html">
              <div class="album-name">
                  <h4>Ravindu & Ravindu</h4>
                  <p>Engagement</p>
              </div>
              <div
                class="album-thumbnail"
                style="background-image: url('public/images/4.jpg')"
              ></div>
            </a>
          </div>
          <div class="col-lg-4 album">
            <a href="index.html">
              <div class="album-name">
                  <h4>Ravindu & Ravindu</h4>
                  <p>Engagement</p>
              </div>
              <div
                class="album-thumbnail"
                style="background-image: url('public/images/1.jpg')"
              ></div>
            </a>
          </div>
          <div class="col-lg-4 album">
            <a href="index.html">
              <div class="album-name">
                  <h4>Ravindu & Ravindu</h4>
                  <p>Engagement</p>
              </div>
              <div
                class="album-thumbnail"
                style="background-image: url('public/images/2.jpg')"
              ></div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 album">
            <a href="index.html">
              <div class="album-name">
                  <h4>Ravindu & Ravindu</h4>
                  <p>Engagement</p>
              </div>
              <div
                class="album-thumbnail"
                style="background-image: url('public/images/1.jpg')"
              ></div>
            </a>
          </div>
          <div class="col-lg-4 album">
            <a href="index.html">
              <div class="album-name">
                  <h4>Ravindu & Ravindu</h4>
                  <p>Engagement</p>
              </div>
              <div
                class="album-thumbnail"
                style="background-image: url('public/images/2.jpg')"
              ></div>
            </a>
          </div>
          <div class="col-lg-4 album">
            <a href="index.html">
              <div class="album-name">
                  <h4>Ravindu & Ravindu</h4>
                  <p>Engagement</p>
              </div>
              <div
                class="album-thumbnail"
                style="background-image: url('public/images/3.jpg')"
              >
          </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <%- include("partials/footer") -%>