<%-include("partials/header");%>

<section>
  <div class="img-section">
    <div>
      <div class="text-container">
      <h1 class="fade-in fadein-up">RAVINDU & RAVINDU</h1>
      <p class="fade-in fadein-up-text">Let us give you the best offer for your special day</p>
    </div>
    </div>
    <img src="public/images/3.jpg" alt="">
  </div>
</section>

<section id="section-gallery">
    <div class="gallery">
        <a class="gallery-image" href="/public/images/ravindu&ravindu/ravindu&ravindu1.jpg" data-lightbox="roadtrip">
            <img src="/public/images/ravindu&ravindu/ravindu&ravindu1.jpg" alt="">
        </a>
        <a class="gallery-image" href="/public/images/ravindu&ravindu/ravindu&ravindu1.jpg" data-lightbox="roadtrip">
            <img src="/public/images/ravindu&ravindu/ravindu&ravindu1.jpg" alt="">
        </a>
        <a class="gallery-image" href="/public/images/ravindu&ravindu/ravindu&ravindu2.jpg" data-lightbox="roadtrip">
          <img src="/public/images/ravindu&ravindu/ravindu&ravindu2.jpg" alt="">
        </a>
        <a class="gallery-L-image" href="/public/images/ravindu&ravindu/ravindu&ravindu2.jpg" data-lightbox="roadtrip">
            <img src="/public/images/ravindu&ravindu/ravindu&ravindu2.jpg" alt="">
          </a>
        <a class="gallery-L-image" href="/public/images/ravindu&ravindu/ravindu&ravindu3.jpg" data-lightbox="roadtrip">
          <img src="/public/images/ravindu&ravindu/ravindu&ravindu3.jpg" alt="">
        </a>
        <a class="gallery-image" href="/public/images/ravindu&ravindu/ravindu&ravindu4.jpg" data-lightbox="roadtrip">
          <img src="/public/images/ravindu&ravindu/ravindu&ravindu4.jpg" alt="">
        </a>
        <a class="gallery-image" href="/public/images/ravindu&ravindu/ravindu&ravindu5.jpg" data-lightbox="roadtrip">
          <img src="/public/images/ravindu&ravindu/ravindu&ravindu5.jpg" alt="">
        </a>
        <a class="gallery-image" href="/public/images/ravindu&ravindu/ravindu&ravindu6.jpg" data-lightbox="roadtrip">
          <img src="/public/images/ravindu&ravindu/ravindu&ravindu6.jpg" alt="">
        </a>
      </div>
</section>


<%- include("partials/footer") -%>
