<%- include("partials/header");%>



    <section>
      <div class="img-section">
        <div>
          <div class="text-container">
            <h1 class="fade-in fadein-up">OUR SERVICES</h1>
            <p class="fade-in fadein-up-text">
              With 5 years of experience in capturing celebrations across the
              globe, our team is here to make sure you have the best day of your
              life filled with photos & videos to reflect that.
            </p>
          </div>
        </div>

        <img src="public/images/3.jpg" alt="" />
      </div>
    </section>

    <!-- SECTION 2 - SERVICES -->
    
      <section id="section-plain" class="detail-section" data-scroll-section>
        <div class="container">
          <div class="row fade-in fadein-up">
            <div class="col-lg-4 col-sm feature">
              <i class="fas fa-check-circle fa-4x feature-icon"></i>
              <h3 class="feature-title">WEDDINGS</h3>
              <p>
                Every love story is different and deserves to be told in its
                unique way. We look forward to making your special day a unique
                one.
              </p>
            </div>
            <div class="col-lg-4 col-sm feature">
              <i class="fas fa-bullseye fa-4x feature-icon"></i>
              <h3 class="feature-title">ENGAGEMENTS</h3>
              <p>
                Your engagement is a wonderful time in both of your lives, and a
                photo shoot is a great way to commemorate that.
              </p>
            </div>
            <div class="col-lg-4 col-sm feature">
              <i class="fas fa-heart fa-4x feature-icon"></i>
              <h3 class="feature-title">CASUAL SHOOTS</h3>
              <p>
                Casual shoots are a great way to remove that doubt and fear of
                being in front of a camera on your wedding day.
              </p>
            </div>
          </div>
          <div class="row  fade-in fadein-up">
            <div class="col-lg-4 col-sm feature">
              <i class="fas fa-check-circle fa-4x feature-icon"></i>
              <h3 class="feature-title">WEDDINGS</h3>
              <p>
                Every love story is different and deserves to be told in its
                unique way. We look forward to making your special day a unique
                one.
              </p>
            </div>
            <div class="col-lg-4 col-sm feature">
              <i class="fas fa-bullseye fa-4x feature-icon"></i>
              <h3 class="feature-title">ENGAGEMENTS</h3>
              <p>
                Your engagement is a wonderful time in both of your lives, and a
                photo shoot is a great way to commemorate that.
              </p>
            </div>
            <div class="col-lg-4 col-sm feature">
              <i class="fas fa-heart fa-4x feature-icon"></i>
              <h3 class="feature-title">CASUAL SHOOTS</h3>
              <p>
                Casual shoots are a great way to remove that doubt and fear of
                being in front of a camera on your wedding day.
              </p>
            </div>
          </div>
        </div>
      </section>

      <%- include("partials/footer") -%>